<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="WebSiteURL" value="https://www.sahibinden.com/ilan/vasita-arazi-suv-pickup-mercedes-benz-2014-tertemiz-kazasiz-dusuk-km-glk-961242740/detay" />
	</appSettings>
</configuration>